<% const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] %>

<html>
    <head>
        <title> <%= title %></title> 
        <link rel="stylesheet" href="css/index.css" type="text/css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>
    <body> 
        <a style="margin-top: 50px;" href="/new">Add new post</a> 
        <% for (var i = 0; i < messages.length; i++) { %>
            <% const date = messages[i].added %>
            <div class="message-post">
                <div class="post-header">
                    <p> <%= messages[i].user %> </p> 
                    <p> Posted on: <%= months[date.getMonth()] %> <%= date.getDate() %> </p>
                </div>
                <p style="margin-left: 15px;"> <%= messages[i].text %> </p>
            </div>
        <% } %>
    </body>
</html>
