<% const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] %>

<html>
    <head>
        <title> <%= title %></title> 
        <style>
            html, body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 25px;
            }

            .message-post {
                border: 1px solid black;
                width: 500px;
            }

            .post-header {
                display: flex;
                justify-content: space-between;
                padding: 0px 15px 0px 15px;
                border: 0.5px solid gainsboro;
            }

            a {
                background-color: white;
                color: black;
                text-decoration: none;
                border: 1px solid black;
                padding: 10px;
                cursor:pointer;
            }

           
        </style>
    </head>
    <body> 
        <a style="margin-top: 50px;" href="/new">Make a post</a> 
        <% for (var i = 0; i < messages.length; i++) { %>
            <% const date = messages[i].added %>
            <div class="message-post">
                <div class="post-header">
                    <p> <%= messages[i].user %> </p> 
                    <p> Posted on: <%= months[date.getMonth()] %> <%= date.getDate() %> </p>
                </div>
                <p style="margin-left: 15px;"> <%= messages[i].text %> </p>
            </div>
        <% } %>
    </body>
</html>
